# Python & Sanal Ortam
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.venv/
venv/
env/
dist/
build/

# IDE / Editörler
.idea/
.vscode/

# İşletim Sistemi
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# Derleme Çıktıları (binary dağıtım dosyaları)
*.AppImage
*.deb
*.rpm
squashfs-root/
appimagetool-*.AppImage

# Veritabanı (çalışma zamanı verisi)
*.db
*.sqlite
