/* JavaFX CSS - Öğrenci Liste Ekranı Stilleri */

.button-onceki-sonraki {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}
